chromadb
datasets
datasette
feedparser
furl
gliner
numpy<2
openai
openai-messages-token-helper
openpyxl
Pillow
pip-system-certs
pydantic-core
pydub
PyGithub
pyodbc
pyportfolioopt
python-certifi-win32
python-dotenv
rich
scipy
sentence-transformers
sqlalchemy
spotipy
sqlite-vec
tiktoken
yt-dlp
